.tableWrapper {
  width: 100%;
  margin-top: 36px;
}

.deckHeaderRow {
  display: grid;

  //grid-template-columns: 261px 141px 201px 286px;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr;

  @media (width <= 1040px) {
    grid-template-columns: 2fr 1fr 2fr 2fr;
  }

  @media (width <= 540px) {
    grid-template-columns: 2fr 1.2fr 2fr 2fr;
  }

  @media (width <= 280px) {
    grid-template-columns: 1.5fr 1.2fr 2.2fr 1.9fr;
  }
}

.deckHeaderCell {
  //cursor: pointer;
  position: relative;
  overflow: hidden;
  font-weight: 700;

  &::before {
    content: '';

    position: absolute;
    top: 7%;
    left: 0;
    transform: skewX(-20deg);

    display: block;

    width: 0;
    height: 86%;

    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
  }

  //&:last-child {
  //  pointer-events: none;
  //  cursor: none;
  //}

  &:hover:not(:disabled) {
    color: var(--color-light-100);
    background: rgb(127 129 133);
    transition: all 0.2s ease-out;
  }

  &:hover::before {
    animation: shine 0.5s 0s linear;
  }

  @keyframes shine {
    0% {
      left: 0;
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      left: 100%;
      opacity: 0;
    }
  }

  @media (width <= 1040px) {
    overflow: hidden;
    display: flex;
    padding: 6px 10px;
    font-weight: 700;
  }

  @media (width <= 540px) {
    padding: 4px 2px;
    font-size: 10px;
    font-weight: 700;

    &:nth-child(1) {
      padding-left: 5px;
    }
  }

  @media (width <= 280px) {
    line-height: var(--line-height-s);
  }
}
