.trigger {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 210px;
  margin: 10px;
  padding: 6px 12px;

  background: var(--color-dark-900);
  border: 1px var(--color-dark-300) solid;
  border-radius: 2px;

  &:hover {
    cursor: pointer;
    background: var(--dark-500, #333);
  }

  &:focus {
    border: 1px solid var(--info-700, #2f68cc);
    border-radius: 2px;
    outline: none;
  }

  &:disabled {
    border: 1px solid var(--dark-300, #4c4c4c);
    border-radius: 2px;
  }
}

.content {
  width: 210px;
  height: max-content;
  border: 1px var(--color-dark-300) solid;
  border-radius: 2px;

  &:focus {
    outline: none;
  }
}

.item {
  width: 100%;
  padding: 3px 13px;
  font-size: 16px;
  background: var(--color-dark-900);

  &:hover,
  &:focus {
    cursor: pointer;
    color: var(--primary-300, #a280ff);
    background: var(--primary-900, #382766);
    outline: none;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  color: var(--color-dark-100);
}

.disabled {
  color: var(--color-dark-300);

  &:hover {
    cursor: pointer;
    background: var(--color-dark-900);
  }
}

.contentPagination {
  align-items: center;
  justify-content: center;
  width: 47px;
  font-size: 13px;
}

.triggerPagination {
  gap: 2px;
  align-items: center;
  justify-content: center;

  width: 47px;
  padding: 0;
}

.itemPagination {
  align-items: center;
  justify-content: center;

  width: 46px;
  margin: 0;
  padding: 6px;
}

.fullWidth {
  width: 100%;
}
