.table {
  border-collapse: collapse;
  width: 1000px;
  color: var(--color-text-primary);
  border: 1px solid var(--color-dark-500);
}

.headCell {
  padding: 6px 24px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-m);

  background-color: var(--color-dark-500);

  > span {
    user-select: none;

    position: relative;

    display: flex;
    gap: 4px;
    align-items: center;

    width: max-content;

    @media (width <= 360px) {
      gap: 0;
    }
  }

  &.sortable > span {
    cursor: pointer;
  }

  svg {
    position: absolute;
    right: -14px;
    transition: transform 0.2s ease-in-out;

    @media (width <= 540px) {
      right: -12px;
    }
  }
}

.tableCell {
  overflow: hidden;

  padding: 6px 24px;

  font-size: var(--font-size-s);
  line-height: var(--line-height-m);

  background-color: var(--color-bg-table);
  border-bottom: 1px solid var(--color-dark-500);
}

.chevron {
  transform: rotate(180deg);
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100px;

  color: var(--color-danger-300);
}
