.tableRow {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr 0.5fr;

  &:hover:not(:disabled) {
    color: var(--color-light-100);
    background: rgb(127 129 133);
  }
}

.tableCell {
  @media (width <= 1040px) {
    overflow: hidden;
    display: flex;
    padding: 6px 10px;
    font-weight: 700;
  }

  @media (width <= 540px) {
    padding: 6px 2px;
    font-size: 10px;
    font-weight: 700;

    &:nth-child(1) {
      padding-left: 5px;
    }
  }

  @media (width <= 280px) {
    line-height: var(--line-height-s);
  }
}
